<!-- views/bugs.ejs -->
<!doctype html>
<html>

<head>
  <title>Bugs Monitoring System</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
   body {
      padding-top:80px; 
      word-wrap: break-word;
      position: relative; 
    }
  
  </style>

  <!-- CSS   -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">     
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

  <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/form-elements.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="/public/apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="/public/apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="/public/apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="/public/apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
<!--Navigation Bar-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">Bug Monitoring System</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:history.back()">Back</a></li>
      <li><a href="/"><i class="glyphicon glyphicon-log-out"></i>  Logout</a></li>
    </ul>
  </div>
</nav>
  
  <div class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span>Feature Details</h1>
      <h4> <strong> Feature : </strong> <%= feature.feature %></h4>
      <h4> <strong> Feature : </strong><div id="extract"> <%= feature._id %></div></h4>
      <p> Click on the bug name to view its properties </p>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>      
    </div>
    

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <p>
            <strong>email</strong>:
            <%= user.local.email %><br>
          </p>
        </div>
      </div>
      
      <!-- Add a new feature option -->
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-plus-square" aria-hidden="true"></span> Report Bug </h3>
          <a href = "/profile/<%=feature._id%>/bug_registration" role="button">Report !</a>
        </div>
      </div>
      
      <!--- Modify feature -->
      <%if (user.local.email != feature.featureCreatedBy) {%>
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-pencil-square-o" aria-hidden="true"></span> Update feature </h3>
          <button type="button" class="btn btn-primary btn-sm disabled" data-toggle="modal" data-target=" ">UPDATE</button>
        </div>
      </div>
      <%} else {%>
      <div class="col-sm-3">
        <div class="well">
          <h3><span class="fa fa-pencil-square-o" aria-hidden="true"></span> Update feature </h3>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-update">UPDATE</button>
        </div>
      </div>
      <%}%>

      <!-- MODAL -->
      <div class="modal fade container-fluid" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="modal-update-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
          <h3 class="modal-title" id="modal-register-label">Update Feature Description</h3>
       </div>
        <form role="form" action="/<%=feature._id%>/featureupdate" method="post" class="registration-form">
            <div class="form-group container-fluid">
              <br>
              <h4>  Add the new description </h4>
              <label class="sr-only" for="form-about-yourself">Feature Description</label>
              <textarea name="featureDescription" placeholder="Feature Description..." class="form-about-yourself form-control" id="form-feature-description"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-sm container-fluid">Update Feature!</button>
          </form>
        </div>
      </div>
    </div>

      <!-- Delete feature -->
      <%if (user.local.email != feature.featureCreatedBy) {%>
      <div class="col-sm-3">
        <div class="well" >
          <h3><span class="fa fa-trash" aria-hidden="true"></span> 
          Delete feature </h3>
          <button type="button" class="btn btn-danger btn-sm disabled" data-toggle="modal" data-target=" " >DELETE</button>
        </div>
      </div>
      <%} else {%>
      <div class="col-sm-3">
        <div class="well" >
          <h3><span class="fa fa-trash" aria-hidden="true"></span> 
          Delete feature </h3>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=" ">DELETE</button>
        </div>
      </div>
      <%}%>

    </div>
  </div>
</div>
   <!-- Table starts here -->
  <div class="container" ng-app="sortApp" ng-controller="mainController">
  <!-- Search Box -->
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search for Bugs with any Parameter" ng-model="searchBug">
      </div>      
    </div>
  </form>

  <table class="table table-bordered table-striped table-condensed">

    <thead>
      <tr>
        <td>
        <b>
          Serial no. 
        </td>
        <td>
        <b>
          Bug Name
        </td>
        <td>
        <b>
          Bug Description
        </td>
        <td>
        <b>
          Bug Location        
        </td>
        <td>
        <b>
          Bug Status        
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in bugs | filter:searchBug" ng-click="showBug(bug)">
        <td>{{$index+1}}</td>        
        <td>{{ x.bug_title }}</td>
        <td>{{ x.bug_description}}</td>
        <td>{{ x.bug_location}}</td>
        <td data-title="'bug_status'" sortable="'bug_status'">
                {{ x.bug_status}}
        </td>
                
      </tr>
    </tbody>
  </table>
</div>

  <!-- ANGULAR SCRIPTS 


  -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="/assets/js/appdisplay2.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.backstretch.min.js"></script>
  <script src="/assets/js/scripts.js"></script>



  <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->


  </body>
  </html>